.bookingtitle {
    font-family: Fredoka1, sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    color: rgb(63, 46, 31);
}
label {
    font-family: Satoshi, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: rgb(63, 46, 31);
}